@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-bebas: "Arial Narrow", "Trebuchet MS", sans-serif;
  --font-inter: "Helvetica Neue", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
}
